body{
    background-color: black;
}

.hero-image{
    background-image: url("/img/home.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.stroke {
  font-size: 4em;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(0, 0, 0);
  
}

.stroke2 {
  font-size: 10em;
  -webkit-text-stroke: 5px rgb(255, 255, 255) ;
  -webkit-text-fill-color: transparent;
  position: absolute;
  letter-spacing: -1px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.blue-background{
    background-color: #011F5D;
}